streamlit==1.36.0
python-dotenv==1.0.1
soundfile==0.12.1
numpy==1.26.4
scipy==1.13.1
pydub==0.25.1
pyttsx3==2.90
requests==2.32.3
faster-whisper==1.0.3
webrtcvad==2.0.10
streamlit-webrtc==0.47.6
aiortc==1.7.0
aioice==0.9.0
av==12.3.0